* {
	margin :0;
	padding :0;
	}

body {
	font-size: 0.9em;
	font-family: "メイリオ","Arial";
	color: #333;
	margin: 0px;
}
 
p {
	margin-top: 3px;
	margin-bottom: 1em;
	text-align: center;
}

img {
	border: none;
}

ul {
	margin:0px;
	padding:5px 20px;
}

ol {
	margin:0px;
	padding:5px 20px;
}

li {
	border-bottom: 1px #cccccc dashed;	  /* 枠線の装飾 */
	display: block;
}

form {
	display: inline
}

b {
	font-weight: bold;
	}

div {
	margin: 0;
	padding: 0; }
 
a {
	color: #00829C;
	text-decoration: none;
	font-weight: bold; 
	}
 
	a:hover {
	text-decoration: underline; }

h1 {
	margin: 0;
	font-size: 2em;
	font-weight: bold;
	display: block;
	text-align: left;
}
 
h2 {
	margin: 0;
	font-size: 1.5em;
	font-weight: bold;
	display: block;
	text-align: center;
}
 
h3 {
	margin: 0;
	font-size: 1.2em;
	font-weight: bold;
	display: block;
	text-align: center;
}

h4 {
	margin: 0;
	font-size: 1em;
	font-weight: bold;
	display: block;
	background-color: #eef0ee;
}

#content {
	position: relative;
//	margin-left: 10%;
//	margin-right: 10%;
	}

#header {
	width: 100%;
	background-color: #ccddcc;
/*	height: 50px;*/
}

#pre_footer {
	background-color: #ddeedd;
	width: 100%;
	clear: both;
	text-align: center;
}

#footer {
	width: 100%;
	clear: both;
	text-align: center;
}

#content_left {
	float: left;
	width: 300px;
}

#content_main {
	text-align: center;
}

#content_right {
	margin-left: 300px;
}

.kekka_btn {
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	margin-top: 40px;
}

.question {
	display: block;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 5px;
}

.answers_text {
	font-size: 1.4em;
	text-align: center;
}

.member {
	border: 1px #eef0ee solid;	  /* 枠線の装飾 */
	background-color: #FFFFFF;	/* 背景色 */
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.answers {
	border: 1px #000000 solid;	  /* 枠線の装飾 */
	background-color: #FFFFFF;	/* 背景色 */
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.err_msg {
	color: #ff0000;
	}

.its_me {
	font-size: 1.25em;
	font-weight: bold;
	}

.ans_word {
	color: #000000;
	font-size: 1.1em;
	font-weight: normal;
	text-decoration: none;
	
	border: 1px #aaaaaa solid;	  /* 枠線の装飾 */
	background-color: #FFFFFF;	/* 背景色 */
	padding: 2px;
	margin-bottom: 10px;
	}

.answer_form {
	border: 1px #000000 solid;	  /* 枠線の装飾 */
	background-color: #FFFFFF;	/* 背景色 */
	padding:5px 20px;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 10px;
	margin-top: 10px;
}

#ans_input {
	font-size: 1.5em;
	font-weight: bold;
	line-height: 31px;
	min-height: 32px;
	text-align: center;
	border-radius: 8px;		/* CSS3 */
	-moz-border-radius: 8px;	 /* Firefox */
	-webkit-border-radius: 8px; /* Safari,Chrome */

	border: 3px #aaaaaa solid;	  /* 枠線の装飾 */
	background-color: #FFFFFF;	/* 背景色 */
	padding: 10px;
	margin-bottom: 10px;
	}

.change_word {
	color: #000000;
	font-size: 1.1em;
	font-weight: normal;
	text-decoration: none;
	border: 1px #aaaaaa solid;	  /* 枠線の装飾 */
	background-color: #FFFFFF;	/* 背景色 */
	padding: 2px;
	margin-bottom: 10px;
	}

.change_form {
	border: 1px #000000 solid;	  /* 枠線の装飾 */
	background-color: #FFFFFF;	/* 背景色 */
	padding:5px 20px;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 10px;
	margin-top: 10px;
}

#change_input {
	font-size: 1.0em;
	line-height: 16px;
	min-height: 16px;
	
	border: 2px #dddddd solid;	  /* 枠線の装飾 */
	background-color: #FFFFFF;	/* 背景色 */
	padding: 8px;
	margin-bottom: 5px;
	}

.pastlog_content {
	border-radius: 8px;		/* CSS3 */
	-moz-border-radius: 8px;	 /* Firefox */
	-webkit-border-radius: 8px; /* Safari,Chrome */
	
	border: 3px #aaaaaa solid;	  /* 枠線の装飾 */
	background-color: #FFFFFF;	/* 背景色 */
	padding: 10px;
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 10px;
	margin-top: 10px;
	min-width: 300px;
}

.creater_name {
	font-size: 1.0em;
	border-bottom: 1px #cccccc dashed;	  /* 枠線の装飾 */
	display: block;
	}

.ans_present {
	font-size: 1.5em;
	font-weight: bold;
	border-bottom: 1px #cccccc dashed;	  /* 枠線の装飾 */
	display: block;
	}

.date_present {
	font-size: 0.9em;
	}

.like_btn {
	font-size: 0.9em;
	}

.tweet_example {
	border-radius: 16px;		/* CSS3 */
	-moz-border-radius: 16px;	 /* Firefox */
	-webkit-border-radius: 16px; /* Safari,Chrome */
	border: 1px #ff8888 dashed;	  /* 枠線の装飾 */
	padding: 2px;
	margin-bottom: 10px;
	}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden; }
 
.clearfix { display: inline-block; }
 
/* exlude MacIE5 \*/
* html .clearfix { height: 1%; }
 
.clearfix { display:block; }
 
/* end MacIE5 */
