html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

///////////////////////////////////////////////////////////////

* {
	margin :0;
	padding :0;
	}

body {
	font-size: 0.9em;
	font-family: "Arial", sans-serif;
	color: #333;
	background-color: #dfe6df;
	margin: 0px;
}
 
p {
	margin-top: 3px;
	margin-bottom: 1em;
}

img {
	border: none;
}

ul {
	margin:0px;
	padding:5px 20px;
}

ol {
	margin:0px;
	padding:5px 20px;
}

dl {
	margin:0px;
	padding:5px 20px;
	list-style-position: inside;
}

dt {
	font-weight: bold;
}

dd {
	margin: 8px 30px;
	font-size: 0.8em;
}

li {
	border-bottom: 1px #cccccc dashed;	  /* 枠線の装飾 */
	display: block;
}

.input_form {
	border-radius: 20px;		/* CSS3 */
	-moz-border-radius: 20px;	 /* Firefox */
	-webkit-border-radius: 20px; /* Safari,Chrome */
	border: 8px #eef0ee solid;	  /* 枠線の装飾 */
	background-color: #FFFFFF;	/* 背景色 */
	text-align: left;
	min-width: 400px;
	width: 400px;
	padding: 8px;
	margin: 10px auto;
}

.right_btn {
	margin: 4px 20px;
}

form {
	display: block;
}

b {
	font-weight: bold;
	}

div {
	margin: 0;
	padding: 0; }
 
a {
	color: #FF6699;
	text-decoration: none;
	font-weight: bold; 
	}

	a:hover {
	text-decoration: underline; }

	a:visited {
	color: #3366CC;
	}

#toptitle {
	color: #000000;
	font-size: 1.2em;
	text-decoration: none;
	font-weight: bold; 
	display: inline;
	}

#usernav {
	float: right;
}

.general_container {
	border-radius: 20px;		/* CSS3 */
	-moz-border-radius: 20px;	 /* Firefox */
	-webkit-border-radius: 20px; /* Safari,Chrome */
	border: 8px #eef0ee solid;	  /* 枠線の装飾 */
	background-color: #FFFFFF;	/* 背景色 */
	padding: 10px;
	margin: 10px 10px;
}

.general_container h2 {
	text-align: center;
}

.general_container p {
	text-align: center;
}

h1 {
	margin: 0;
	font-size: 2em;
	font-weight: bold;
	display: block;
	text-align: center;
}
 
h2 {
	margin: 0;
	font-size: 1.5em;
	font-weight: bold;
	display: block;
	text-align: center;
}
 
h3 {
	margin: 0;
	font-size: 1.2em;
	font-weight: bold;
	display: block;
	text-align: center;
}

h4 {
	border-radius: 4px;		/* CSS3 */
	-moz-border-radius: 4px;	 /* Firefox */
	-webkit-border-radius: 4px; /* Safari,Chrome */
	margin: 0;
	padding: 4px;
	font-size: 1em;
	font-weight: bold;
	display: block;
	background-color: #eef0ee;
}

textarea {
	font-size: 1.0em;
	padding: 2px;
}

.login_link {
	font-size: 30px;
	text-align: center;
}

#log_navi {
	border-radius: 20px;		/* CSS3 */
	-moz-border-radius: 20px;	 /* Firefox */
	-webkit-border-radius: 20px; /* Safari,Chrome */
	border: 8px #eef0ee solid;	  /* 枠線の装飾 */
	background-color: #FFFFFF;	/* 背景色 */
	margin: 10px 10px;

	clear: both;
	text-align: center;
	padding: 8px 0;
}

#user_navi {
	text-align: center;
	border-radius: 6px;		/* CSS3 */
	-moz-border-radius: 6px;	 /* Firefox */
	-webkit-border-radius: 6px; /* Safari,Chrome */
	border: 1px #eef0ee solid;	  /* 枠線の装飾 */
	background-color: #FFFFFF;	/* 背景色 */
	margin: 10px;
}

#recent_started {
	text-align: center;
}

#content {
	position: relative;
	}

#header {
	background-color: #ffffff;
	position: relative;
	width: 100%;
	height: 1.5em;
	padding: 2px 0;
}

#post_header {
	position: relative;
	clear: both;
	width: 100%;
	background-color: #5b726b;
	color: #ffffff;
	text-align: left;
	font-size: 0.8em;
	padding: 4px 0;
}

#pre_footer {
	border-radius: 20px;		/* CSS3 */
	-moz-border-radius: 20px;	 /* Firefox */
	-webkit-border-radius: 20px; /* Safari,Chrome */
	border: 8px #eef0ee solid;	  /* 枠線の装飾 */
	background-color: #FFFFFF;	/* 背景色 */
	margin: 10px 10px;

	clear: both;
	text-align: center;
	padding: 8px 0;
}

#footer {
	width: 100%;
	clear: both;
	text-align: center;
	padding: 2px 0;
}

#content_left {
	float: left;
	width: 300px;
}

#content_main {
	text-align: center;
	width: 640px;
	margin: 0 auto;
}

#content_right {
	margin-left: 300px;
}

#joincancel {
	border: 1px #888888 dotted;
	font-size: 0.6em;
	float: right;
	margin: 5px;
	padding: 0;
}

.kekka_btn {
	font-size: 1.4em;
	font-weight: bold;
	vertical-align: middle;
	margin-top: 5px;
}

.question {
	display: block;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 5px;
}

.answers_text {
	font-size: 1.4em;
	text-align: center;
}

.member {
	border-radius: 6px;		/* CSS3 */
	-moz-border-radius: 6px;	 /* Firefox */
	-webkit-border-radius: 6px; /* Safari,Chrome */
	border: 1px #eef0ee solid;	  /* 枠線の装飾 */
	background-color: #FFFFFF;	/* 背景色 */
	margin: 10px;
}

.answers {
	border-radius: 6px;		/* CSS3 */
	-moz-border-radius: 6px;	 /* Firefox */
	-webkit-border-radius: 6px; /* Safari,Chrome */
	border: 1px #eef0ee solid;	  /* 枠線の装飾 */
	background-color: #FFFFFF;	/* 背景色 */
	margin: 10px;
}

#err_msg {
	color: #ff0000;
	text-align: center;
	}
.err_msg {
	color: #ff0000;
	text-align: center;
	}
	
.its_me {
	font-size: 1.25em;
	font-weight: bold;
	}

.ans_word {
	color: #000000;
	font-size: 1.1em;
	font-weight: normal;
	text-decoration: none;
	border: 1px #000000 solid;	  /* 枠線の装飾 */
	background-color: #FFFFFF;	/* 背景色 */
	padding: 2px;
	font-family: serif;
	}

.answer_form {
	border-radius: 20px;		/* CSS3 */
	-moz-border-radius: 20px;	 /* Firefox */
	-webkit-border-radius: 20px; /* Safari,Chrome */
	border: 8px #eef0ee solid;	  /* 枠線の装飾 */
	background-color: #FFFFFF;	/* 背景色 */
	padding:5px 20px;
	margin: 10px;
}

#ans_input {
	font-size: 1.5em;
	font-weight: bold;
	line-height: 31px;
	min-height: 32px;
	text-align: center;
	border-radius: 8px;		/* CSS3 */
	-moz-border-radius: 8px;	 /* Firefox */
	-webkit-border-radius: 8px; /* Safari,Chrome */

	border: 3px #aaaaaa solid;	  /* 枠線の装飾 */
	background-color: #FFFFFF;	/* 背景色 */
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	}

.change_word {
	color: #000000;
	font-size: 1.1em;
	font-weight: normal;
	text-decoration: none;
	border: 1px #000000 solid;	  /* 枠線の装飾 */
	background-color: #FFFFFF;	/* 背景色 */
	padding: 2px;
	font-family: serif;
	}

.change_form {
	border-radius: 20px;		/* CSS3 */
	-moz-border-radius: 20px;	 /* Firefox */
	-webkit-border-radius: 20px; /* Safari,Chrome */
	border: 8px #eef0ee solid;	  /* 枠線の装飾 */
	background-color: #FFFFFF;	/* 背景色 */
	padding:5px 20px;
	margin: 10px;
}

#change_input {
	font-size: 1.0em;
	line-height: 16px;
	min-height: 16px;
	
	border: 2px #dddddd solid;	  /* 枠線の装飾 */
	background-color: #FFFFFF;	/* 背景色 */
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	}

.pastlog_content {
	border-radius: 20px;		/* CSS3 */
	-moz-border-radius: 20px;	 /* Firefox */
	-webkit-border-radius: 20px; /* Safari,Chrome */
	border: 8px #eef0ee solid;	  /* 枠線の装飾 */
	background-color: #FFFFFF;	/* 背景色 */
	padding: 10px;
	margin: 10px 10px;
	text-align: left;
}

.creater_name {
	font-weight: bold;
	font-size: 1.0em;
	border-bottom: 1px #cccccc dashed;	  /* 枠線の装飾 */
	display: block;
	}

.ans_present {
	color: #000000;
	font-size: 1.5em;
	font-weight: bold;
	border-bottom: 1px #cccccc dashed;	  /* 枠線の装飾 */
	display: block;
	text-align: center;
	}

.date_present {
	font-size: 0.9em;
	}

.like_btn {
	font-size: 0.9em;
	}

.twitter_input {
	text-align: left;
}

.twitter-field {
	float: left;
}

.timeline {
	text-align: left;
}

.post_msg {
	clear: both;
}

.tw_img {
	float: left;
	height: 48px;
	width: 48px;
}

#twitter_form {
	font-size: 0.8em;
	text-align: left;
}

#progress {
	display: none;
	text-align: center;
}

#progress_ok {
	display: none;
	text-align: center;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden; }
 
.clearfix { display: inline-block; }
 
/* exlude MacIE5 \*/
* html .clearfix { height: 1%; }
 
.clearfix { display:block; }
 
/* end MacIE5 */
